venv
__pycache__
config.py
dunp-assitant-account-id-v1.session
config.dunp.py
config_dunp.py
zalo_group_0.png
**/voice_env/**
**/venv/**
voice_assistant/giong_cua_toi.wav
voice_assistant/ket_qua_tieng_viet.wav
downloads/
data/vector_db/**/index.faiss
data/vector_db/**/metadata.pkl
test/data/vector_db/**/index.faiss
test/data/vector_db/**/metadata.pkl
knowledgebase/fasttext/cc.vi.300.bin
knowledgebase/fasttext/cc.vi.300.vec
knowledgebase/fasttext/cc.vi.300.bin.gz
knowledgebase/fasttext/cc.vi.300.vec.gz
data/knowledgebase.db
data/*.db


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

**/domains/ngoc**
config_ngoc.py

**/domain_handlers/**.xlsx
**/domain_handlers/**.csv
**/phieu_luong_nhan_vien/**
**/data/**
**/test/**.db
breakingnews.zip
skills/browser/playwright_docs.index
skills/browser/playwright_metadata.pkl
**/breakingnews/**.png
**/breakingnews/**.txt
**/breakingnews/**.csv
**/zalo_qr.png
