aiofiles
telethon
google-generativeai
faiss-cpu
numpy
pypdf
python-docx
pandas
openpyxl
python-pptx
fasttext
requests
fastapi
uvicorn
einops
timm
beautifulsoup4
playwright
pydantic
httpx
pynacl
google-genai
Pyrogram
matplotlib
transformers
sentence-transformers
paramiko
accelerate
torch
bitsandbytes
huggingface-hub
librosa
soundfile
kokoro-onnx
Pillow
onnxruntime
kernels
