aiofiles
telethon
google-generativeai
faiss-cpu
numpy
pypdf
python-docx
pandas
openpyxl
python-pptx
fasttext
requests
fastapi
uvicorn
einops
timm
bs4 
playwright
pydantic 
httpx 
pynacl 
google-genai
telethon 
Pyrogram
matplotlib
transformers 
sentence_transformers 
paramikoaccelerate
